
.RecommendedPost {
  width: 500px;
  margin: auto;
  border: 1px solid #efefef;
  border-radius: 5px;
  background: white;
}

.photoWrapper {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagramHeader {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #efefef;
  align-items: center;
}

.username {
  margin: 0 0 0 12px;
}

.instagramFooter {
  margin: 20px 0;
}

.instagramFooter img {
  width: 500px;
}

.caption {
  padding: 0 16px;
}

.profilePicture {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
