body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.newPhotoButton {
  background-image: url('instagram.jpg');
  display: flex;
  padding: 15px 0;
  background-position: 55% 55%; 
  width: 150px;
  display: flex;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 25px;
}

.newPhotoButton:hover {
  cursor: pointer;
}

.newPhotoText {
  margin: auto;
  color: #efefef;
}

.instagramPost {
  width: 600px;
  margin: auto;
  border: 1px solid #efefef;
  border-radius: 5px;
}

.photo {
  height: 600px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagramHeader {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #efefef;
  align-items: center;
}

.username {
  margin: 0 0 0 12px;
}

.instagramFooter {
  margin: 20px 0;
}

.caption {
  padding: 0 16px;
}

.profilePicture {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
