body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  background: #e9ebee;
}

.buttonWrapper {
  margin: auto;
  display: flex;
  width: 500px;
  text-align: center;
}

.optionsWrapper {
  margin: auto;
  width: 500px;
  text-align: center;
}

.facebookGraph, .facebookShare, .getNewLink {
  padding: 15px 0;
  width: 150px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 25px;
  font-weight: 600;
}

.facebookGraph {
  margin-top: 200px;
}

.facebookGraph, .facebookShare {
  background: #365899;
}

.getNewLink {
  background: #dfe3ee;
}

.facebookGraph:hover, .facebookShare:hover, .getNewLink:hover {
  cursor: pointer;
}

.facebookGraphText, .facebookShareText {
  margin: auto;
  color: #f7f7f7;
}

.facebookDownload {
  margin: auto;
}

.getNewLinkText {
  margin: auto;
  color: #365899;
}

.loadingWrapper {
  margin-top: 200px;
  text-align: center;
}

.loadingText {
  color: #365899;
}

.facebookPost {
  width: 500px;
  margin: auto;
  border: 1px solid #efefef;
  border-radius: 5px;
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo {
  width: 500px;
  height: 250px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkImage {
  width: 500px;
}

.facebookHeader {
  display: flex;
  padding: 6px;
  border-bottom: 1px solid #efefef;
  align-items: center;
}

.headerMainText {
  display: inline;
}

.headerTextWrapper {
  margin: 12px 0 0 12px;
  color: #616770;
}

.usernameText{
  color: #365899;
  font-weight: 600;
}

.headerSubText {
  margin-top: 6px;
  font-size: 12px;
}

.bodyWrapper {
  border: 1px #dddfe2 solid;
}

.linkTextWrapper {
  margin: 10px 12px;
}

.linkMainText {
  font-family: 'Georgia', serif;
  font-size: 18px;
}

.linkSubText {
  font-size: 12px;
}

.linkBaseURL {
  font-size: 12px;
  color: #616770;
  padding-top: 16px;
  text-transform: uppercase;
}

.icons {
  width: 500px;
}

.profilePicture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.afterGraph {
  display: flex;
  padding-left: 10vw;
  padding-right: 10vw;
}
